* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 5vh;
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
}

.main {
  display: flex;
}

.sidebar {
  width: 20vw;
  height: 100vh;
  border: 1px solid grey;
  border-top: 0;
}

.dragNode {
  border: 1px solid blueviolet;
  color: blueviolet;
  padding: 2em;
  margin: 1em;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.sb-text {
  margin: 0 0.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.25rem;
}

.sb-textarea {
  margin: 0 0.5em;
  font-size: 1.25rem;
  width: 90%;
  height: 20%;
}

.sb-text-header {
  position: relative;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5em 0;
  border: 1px solid gray;
  border-left: 0;
}

.sb-back {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  cursor: pointer;
}

.header-save {
  border: 1px solid blueviolet;
  color: blueviolet;
  padding: 0.1em;
  padding-right: 1em;
  font-size: 1.5rem;
  width: 10vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.header-alert {
  position: absolute;
  top: 1em;
  left: 40%;
  color: black;
  background-color: rgb(211, 72, 72);
  padding: 1em 1em;
  font-size: 1.3rem;
  width: 15vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}